* {
    margin: 0;
    padding: 0;
}

#board {
    height: fit-content;
    display: grid;
    grid-template-rows: repeat(8, 9vmin);
    border: 2px solid black;
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 9vmin);
}

.Square {
    /* height: clamp(40px, 1vmin, 80px);
    width: clamp(40px, 1vmin, 80px); */
    aspect-ratio: 1 / 1;
    /* border: 1px solid blue; */
    position: relative;
    font-size: 2vmin;
    overflow: hidden;
}

.row {
    counter-reset: line-number;
}

.row>.Square {
    counter-increment: line-number;
}


/* .row:first-child {
    margin-top: 8vmin;
}

.row:last-child {
    margin-bottom: 8vmin;
} */

.row:after,
.row::before {
    display: inline-block;
    content: attr(data-row);
    color: black;
    cursor: pointer;
    margin: auto;
    font-weight: 900
}


/* 
.row:first-child .Square::before,
.row:last-child .Square:after {
    content: attr(data-col);
    color: black;
    font-weight: 900;
    position: absolute;
    text-align: center;
    pointer-events: none;
}

.row:last-child .Square::after {
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.row:first-child .Square::before {
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.Square img {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.Square.possible:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20%;
    width: 20%;
    background: orangered;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /** for older browsers **/
}

.Square.attacked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2000px rgb(255, 100, 100, 0.75);
}

.Square.selected::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgb(255, 100, 100, 0.25);
}

.white {
    background-color: white;
}

.black {
    background-color: gray;
}


/* .attacked {
    filter: invert(11%) sepia(100%) saturate(6678%) hue-rotate(360deg) brightness(106%) contrast(111%);
} */


/* LOBBY*/

.lobby-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    text-align: center;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}

.lobby-item>.lobby-prefs {
    width: 3vmin;
    height: 3vmin;
    margin: auto;
}

.lobby-item>.lobby-prefs.white {
    border: 1px solid black;
    background-color: white;
}

.lobby-item>.lobby-prefs.black {
    border: 1px solid black;
    background-color: black;
}

.lobby-item>.lobby-prefs.any {
    border: 1px solid black;
    background: yellow;
    background: -moz-linear-gradient(left, black 0%, white 50%);
    background: -webkit-linear-gradient(left, black 0%, white 50%);
    background: linear-gradient(to right, black 0%, white 50%);
}